#nav{
	height:97px;
	width:100%;
	background-image:url("bg.jpg");
	overflow:hidden;
	min-width: 950px;
	zoom:1;
}
.logo{
	margin:26px auto;
	background-image:url("logo.png");
	width:138px;
	height:44px;
	text-indent:-99999px;
	position: relative;
	}
.link{
	position:absolute;
	text-indent:0px;
	left:200px;
	width:200px;
}
.link span{
	width:50px;
	height:25px;
	line-height:25px;
	font-size:20px;
	display:inline-block;
	text-align:center;
	margin-left:15px;
}
.select{
	background:#666;
	color:#fff;
}
.mainFlower{
	margin-bottom:50px;
	overflow:hidden;
	min-width:950px;
	zoom:1;
}
.nowFlower{
	position: relative;	
	background:#efeeee;
	}

.list{display:none}
.list ul{
	width:880px;
	display:block;
	margin:0 auto;
	}
.list li{
	width:200px;
	float:left;
	padding:10px;
}
.list li img{width:200px;}
.order{
	background-color: #cf2440;
	padding:0 30px;
	line-height:38px;
	color:#fff;
	font-size:14px;
	display:block;
	margin:10px auto;
	
	text-align:center;
	
}
.info{
	width:500px;
	overflow:hidden;
	padding:20px;
	background:#fafafa;
	margin:30px auto;
}
.wx{
	float:left;
	
}
.wxh{
	position: relative;
top: 140px;
left: -170px;
}
.info span{
	padding-left:50px;
}
body{
	background:#fafafa;
}
.itemList{
	overflow:hidden;
	width:70%;
	float:left;
	padding-top:50px;
	background:#f4f4f4;
}
.itemList img{
	float:left;
	height:200px;
	width:200px;
}
.itemList li{
	overflow:hidden;
	height:200px;
	margin-bottom:20px;
	padding-left:80px;
}
.dec{
	display:table;
	text-indent:0px;
	width:310px;
	font-size:14px;
	line-height:150%;
	height:200px;
	#position:relative;
	padding-left:50px;
}
#collection{
	top:40%;
	background:url(arrow.gif) no-repeat 0px 0px;
	position: absolute;
	margin-left:-190px;
	display:block;
	height:140px;
	padding-top:50px;
}
#collection li{
	width:70px;
	height:35px;
	line-height:35px;
	font-size:15px;
	padding-left:10px;
	margin-left:80px
}
.select{
	background:666;
	color:#fff;
}
#info{
	position: absolute;
	top:30%;
	padding-left:50px;
}
.mask{
	background:url(mask.png) no-repeat;
	_background:url(mask.gif) no-repeat;
	width:200px;
	height:200px;
	position: absolute;
	left:80px;
	}
.dec p{ 
	   display:table-cell;
       vertical-align:middle;
       #position:absolute;
       #top:50%;
}
.dec span{
	display:block;
	padding:10px;
	background: #FAFAFA;
	font-size:15px;
	#position:relative;
    #top:-50%;
	}

.buyInfo{
	height:140px;
	line-height:210%
}
.buyInfoPos{
	/*position:absolute;
	left:600px;
	top:28%;
	background:url(arrow.gif) no-repeat  0px 57px;
	padding-left:80px;*/
	width:25%;
	float:left;
}
#mrFlower{
	text-align:center;
	color:#333;
	background:#efeeee;
}
#mrFlower b{
	color:#999;
	font-size:26px;
}
#mrFlower p{
	font-size:14px;
}
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    font: 12px/1.5 tahoma, arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }

sup { vertical-align: text-top; } /* 重置，减少对行高的影响 */
sub { vertical-align: text-bottom; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}